.approvalContainer {
    width: 100%;
    .headerSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 1.2rem;
            font-weight: 600;
        }
        .headerSectionTitle {
            font-size: 20px;
            font-weight: 600;
            color: #40BE85;
        }
        .headerSectionFilter {
            margin-left: auto;
            display: flex;
            gap: 12px;
            >div {
                width: 200px;
            }
            .iconRefresh {
                background-color: #40BE85;
                color: white;
                border: none;
                padding: 0.6rem 1rem;
                border-radius: 0.25rem;
                cursor: pointer;
                &:hover {
                    background-color: #2E9E6B;
                }
            }
        }
    }
    .approvalCardsSection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
}

.noDataContainer {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.noDataImage {
    max-width: 200px;
    margin-bottom: 1rem;
    animation: pulse 1.5s infinite ease-in-out;
}

.noDataText {
    font-size: 1.2rem;
    color: #777;
}


/* Optional animation for added interaction */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}