.approvalContainer {
    width: 100%;
    .headerSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-size: 1.2rem;
            font-weight: 600;
        }
        .headerSectionTitle {
            font-size: 20px;
            font-weight: 600;
            color: #40BE85;
        }
        .headerSectionFilter {
            margin-left: auto;
            display: flex;
            gap: 12px;
            >div {
                width: 200px;
            }
            .iconRefresh {
                background-color: #40BE85;
                color: white;
                border: none;
                padding: 0.6rem 1rem;
                border-radius: 0.25rem;
                cursor: pointer;
                &:hover {
                    background-color: #2E9E6B;
                }
            }
        }
    }
    .approvalCardsSection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
}