.modalContent {
    display: flex;
    justify-content: center;
    width: 20rem;
    padding-bottom: 1.4rem;
}

.btnSection {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 12px;
}